.DS_Store
Thumbs.db

# IDE Files
#-------------------------
/nbproject/
.idea/*

#-------------------------
doit/vue-2.6.10/*


# composer相关文件
vendor/*

*.sublime-project
*.sublime-workspace