<!DOCTYPE html>
<html lang="en">
<head>
    <script src="C:\Work\Projects\VueStart\vue-2.6.10\dist\vue.js"></script>

    <title>Title</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Vue文档教程入门</h1>

    <h2>响应式输出内容</h2>
    <div id="app">
        {{ message }}
    </div>

    <h2>v-bind 绑定dom属性到vue.message</h2>
    <!-- v-bind -->
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>

    <h2>v-if 相应判断</h2>
    <!-- v-if -->
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

    <h2>v-for 循环</h2>
    <!-- v-for -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <h2>v-on 事件监听</h2>
    <!-- v-on -->
    <div id="app-5">
        <span style="cursor: pointer" v-on:click="reserverMessage">point and click me see something diff</span>
        <p>{{message}}</p>
    </div>
    <h2>v-model 输入内容和应用状态的双绑定</h2>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <h2>介绍组件....</h2>
    <div id="app-7">
        <ol>
            <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于 ' + new Date().toLocaleString()
        }
    });
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    });
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text:'gogogo'},
                {text:'let`s go'}
            ]
        }
    });
    let app5 = new Vue({
        el:'#app-5',
        data:{
            message:'What`s this in Vue.js ?'
        },
        methods:{
            reserverMessage:function() {
                this.message = this.message.split(' ').reverse().join(' ');
            }
        }
    });
    let app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    });
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });

    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                { id: 0, text: '蔬菜' },
                { id: 1, text: '奶酪' },
                { id: 2, text: '随便其它什么人吃的东西' }
            ]
        }
    });
</script>
</html>