<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./vue-2.6.10\dist\vue.js"></script>

    <title>Forms</title>
    <meta charset="UTF-8">
</head>
<body>
	<h2>Input</h2>
	<div id="app-1">
		<!-- <input v-model.trim="message" type="text" > -->
		<!-- <input v-model.number="message" type="number" > -->
		<input v-model.lazy="message" type="text" >
		<p>Message is: {{ message }}</p>
	</div>

	<h2>checkbox</h2>
	<div id="app-2">
		<input v-model="checked" type="checkbox" >{{ checked }}
	</div>

	<h2>mulcheckbox</h2>
	<div id="app-3">
		<input v-model="checkedName" id="kate" type="checkbox" value="kate"><label for="kate">kate</label>
		<input v-model="checkedName" id="anderson" type="checkbox" value="anderson"><label for="anderson">anderson</label>
		<input v-model="checkedName" id="bake" type="checkbox" value="bake"><label for="bake">bake</label>
		<p>
			checkedName: {{ checkedName }}
		</p>
	</div>

	<h2>radio</h2>
	<div id="app-4">
		<input v-model="radioCheck" type="radio" value="1">1
		<input v-model="radioCheck" type="radio" value="2">2
		{{ radioCheck }}
	</div>

</body>
<script type="text/javascript">
    var app1 = new Vue({
        el: '#app-1',
        data: {
            message: ''
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            checked: false
        }
    });

    var app3 = new Vue({
        el: '#app-3',
        data: {
            checkedName: []
        }
    });

    var app4 = new Vue({
        el: '#app-4',
        data: {
            radioCheck: 2
        }
    });
</script>
</html>