
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./vue-2.6.10\dist\vue.js"></script>
    <title>Components</title>
    <meta charset="UTF-8">
</head>
<body>
	<h2>Components</h2>
    <div id="component-1">
        <button-counter></button-counter>
    </div>

    <div id="component-2">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>

    <div id="component-3">
        <!-- 为何content不行 -->
        <blog-area title="First Title" ></blog-area>
        <blog-area title="Sec Title" ></blog-area>
        <blog-area title="Thr Title" ></blog-area>
    </div>

    <div id="component-4" >
        <blog-list v-for="(value, index) in titles" v-bind:keys="value.id" v-bind:title="value.name" ></blog-list>
    </div>

    <div id="component-5" >
        <blog-post v-for="(info, index) in infoes" v-bind:keys="index" v-bind:info="info"></blog-post>
    </div>

    <h2>component-6</h2>
    <div id="component-6" >
        <!-- 最简单的方式，附静态值，直接把值，付给组件设置好的属性，html的属性和组件中的props一一对应，组件会自动把值放进去，注意是{{}} -->
        <blog title="T1" comment="C1" post-date="2019-05-22" date="2019-08-22" author="myj"></blog>
        <!-- 这个是通过绑定属性的方式，bind后面对应绑定的是属性props中的内容 -->
        <blog v-bind:title="title" v-bind:comment="comment" v-bind:post-date="postDate" v-bind:date="date" v-bind:author="author"></blog>
    </div>

    <h2>component-7</h2>
    <div id="component-7" >
                                                                     <!-- bind后面对应绑定的是属性props中的内容 -->
        <blog-lot v-for="(a, index) in posts" v-bind:keys="index" v-bind:b="a"></blog-lot>
    </div>

    <h2>component-8</h2>
    <div id="component-8" >
        <blog-v v-for="(a, index) in posts" v-bind:keys="index" v-bind:title="a.title" v-bind:comment="a.comment" v-bind:post-date="a.postDate" v-bind:date="a.date" v-bind:author="a.author"></blog-v>
    </div>

    <h2>component-9</h2>
    <div id="component-9">
        <blog-check v-bind:name="people.name" v-bind:age="people.age"></blog-check>
    </div>
</body>
<script type="text/javascript">
    Vue.component('blog-check', {
        props: {
            name:{
              type: String,
              required: true
            },
            age:Number,
            fun:{
                type: Object,
                default: function() {
                    return {
                        say:'hello world',
                        do:'work hard'
                    }
                }
            },
            whoAreYou:{
                validator:function() {
                    return ['lxf', 'ac', 'kaka'].indexOf(value) !== -1
                }
            }
        },
        template:'<div><div>name:{{name}}</div><div>age:{{age}}</div></div>'
    });
    var component9 = new Vue({
        el:'#component-9',
        data:{
            people: {
                name: 'lxf',
                age:19
            }
        }
    });


    Vue.component('blog-v', {
      props:['title', 'comment', 'postDate', 'date', 'author'],
      template: '<div><h1>{{title}}</h1>---<span>{{author}}</span>\
        <div>{{comment}}</div>\
        <div>{{postDate}}</div>\
        <div>{{date}}</div></div>'
    });
    var component8 = new Vue({
        el: '#component-8',
        data: {
           posts: [
               {title: 'T8-1', comment:'C8-1', postDate:'2019-05-22', date:'2019-08-22', author:'myj'},
               {title: 'T8-2', comment:'C8-2', postDate:'2019-06-21', date:'2019-08-21', author:'lxf'},
           ]
        }
    });

    Vue.component('blog-lot', {
      props:['b'],
      template: '<div><h1>{{b.title}}</h1>---<span>{{b.author}}</span>\
        <div>{{b.comment}}</div>\
        <div>{{b.postDate}}</div>\
        <div>{{b.date}}</div></div>'
    });
    var component7 = new Vue({
        el: '#component-7',
        data: {
           posts: [
               {title: 'T7-1', comment:'C7-1', postDate:'2019-05-22', date:'2019-08-22', author:'myj'},
               {title: 'T7-2', comment:'C7-2', postDate:'2019-06-21', date:'2019-08-21', author:'lxf'},
           ]
        }
    });

    Vue.component('blog', {
      props:['title', 'comment', 'postDate', 'date', 'author'],
      template: '<div><h1>{{title}}</h1>---<span>{{author}}</span>\
        <div>{{comment}}</div>\
        <div>{{postDate}}</div>\
        <div>{{date}}</div></div>'
    });
    var component6 = new Vue({
        el: '#component-6',
        data: {
            title : 'T6-2',
            comment : 'C6-2',
            postDate : '2019-05-23',
            date : '2019-08-23',
            author : 'lcf'
        }
    });


    // 定义一个名为 button-counter 的新组件
    Vue.component('button-counter', {
      data: function () {
        return {
          count: 0
        }
      },
      template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    });
    var component1 = new Vue({
        el: '#component-1',
    });

    Vue.component('button-count', {
        data:function() {
            return {
                count:0
            }
        },
        template:'<button v-on:click="count++">You count {{count}} times</button>'
    });
    var component2 = new Vue({
        el: '#component-2',
    });

    Vue.component('blog-area', {
        props:['title'],
        template:'<h2>{{title}}</h2>'
    });
    let component3 = new Vue({
        el:'#component-3'
    });

    Vue.component('blog-list', {
        props:['title'],
        template:'<h2>{{title}}</h2>'
    });
    let component4 = new Vue({
        el:'#component-4',
        data: {
            titles: [
                { id:1, name:'My journey with Vue' },
                { id:2, name:'Blogging with Vue' },
                { id:3, name:'Why Vue is so fun' }
            ]
        }
    });

    Vue.component('blog-post', {
        props:['info'],
        template:
        '<div>\
            <h2>{{info.title}}</h2>\
            <div v-html="info.createDate"></div>\
            <div v-html="info.content"></div>\
        </div>'
    });
    let date = new Date();
    let component5 = new Vue({
        el:'#component-5',
        data: {
            infoes: [
                { title:'Title-1', content:'content-1', createDate:date},
                { title:'Title-2', content:'content-2', createDate:date},
                { title:'Title-3', content:'content-3', createDate:date}
            ]
        }
    });
</script>
</html>